@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
    height: 100vh;
    color: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito';
    margin: 0;
    background-image: url(abstract.jpg);
    /* Image from: https://i.redd.it/52f61nfzmwl51.jpg */
    background-repeat: no-repeat;
    background-size: cover;
}
.home {
    text-align: center;
}
.home h1 {
    padding-top: 100px;
}
nav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    color: white;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 5%;

}

/* h1 {
    font-size: 36px;
} */
#wave {
    height: 200px;
    width: 200px;
}

.home h1{
    font-size: 2em;
}

.headline {
   font-size: 1.2em;
}

.headline h2{
    display: inline-block;
    padding: 15px 20px;
}

.arrow {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #130634;
    border-right: 5px solid #130634;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

footer {
    display: none;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}