a {
    text-decoration: none;
}

.linkedin-icon {
    color: #0077B5;
    height: 70% !important;
    width:70% !important;
}

.email-icon {
    color: #D44638;
    height: 70% !important;
    width:70% !important;
}

.gh-icon {
    color: #24292E;
    height: 70% !important;
    width:70% !important;
}